# Análise dos dados dos reservatórios cearenses no dia 26 de maio de 2023, comparando com o ano anterior

In [1]:
import pandas as pd

In [2]:
path = 'bases/'

In [51]:
regioes = ['Acaraú', 'Alto Jaguaribe', 'Baixo Jaguaribe', 'Banabuiú', 'Coreaú', 'Curu', 'Litoral',
           'Médio Jaguaribe', 'Metropolitana', 'Serra da Ibiapaba', 'Salgado', 'Sertões de Crateús']

In [5]:
lista_df = []
for i in regioes:
    df = pd.read_csv(path + f'{i}_26-05_2022,_26-05_2023,.csv', sep=';')
    df['regiao'] = i
    lista_df.append(df)

df_regioes = pd.concat(lista_df)

In [6]:
df_regioes_pivot = df_regioes[df_regioes['data'].isin(['26/05/2022', '26/05/2023'])].pivot_table(index='regiao', columns='data')

In [7]:
df_regioes_pivot

                    volume(%)              volume(hm³)
data               26/05/2022  26/05/2023   26/05/2022   26/05/2023
regiao
Acaraú              86.055978   93.502078  1469.634229  1596.796148
Alto Jaguaribe      48.943697   65.405453  1353.620472  1808.898094
Baixo Jaguaribe     90.696481  100.000000    22.720279    25.050893
Banabuiú             9.819895   41.652078   262.642798  1114.025996
Coreaú              95.097300   97.925092   284.747315   293.214496
Curu                21.088796   37.767146   222.732918   398.884159
Litoral             77.230891   98.418255   159.134926   202.791674
Metropolitana       81.813450   82.557901  1187.040592  1197.841921
Médio Jaguaribe     22.348554   31.430828  1647.980818  2317.707082
Salgado             58.606684   68.583042   262.359754   307.020104
Serra da Ibiapaba   60.775595   72.461935    85.283408   101.682275
Sertões de Crateús  21.329525   31.552439    87.872622   129.988623

In [10]:
df_regioes_volume_perc = df_regioes_pivot[[('volume(%)', '26/05/2022'), ('volume(%)', '26/05/2023')]]

In [11]:
df_regioes_volume_perc = df_regioes_volume_perc.reset_index()
df_regioes_volume_perc.columns = df_regioes_volume_perc.columns.droplevel(0)
df_regioes_volume_perc

data                      26/05/2022  26/05/2023
0                 Acaraú   86.055978   93.502078
1         Alto Jaguaribe   48.943697   65.405453
2        Baixo Jaguaribe   90.696481  100.000000
3               Banabuiú    9.819895   41.652078
4                 Coreaú   95.097300   97.925092
5                   Curu   21.088796   37.767146
6                Litoral   77.230891   98.418255
7          Metropolitana   81.813450   82.557901
8        Médio Jaguaribe   22.348554   31.430828
9                Salgado   58.606684   68.583042
10     Serra da Ibiapaba   60.775595   72.461935
11    Sertões de Crateús   21.329525   31.552439

In [12]:
df_regioes_volume_perc = df_regioes_volume_perc.rename(columns={'': 'regiões'})

In [13]:
df_regioes_volume_perc.sort_values('26/05/2023', ascending=False)

data             regiões  26/05/2022  26/05/2023
2        Baixo Jaguaribe   90.696481  100.000000
6                Litoral   77.230891   98.418255
4                 Coreaú   95.097300   97.925092
0                 Acaraú   86.055978   93.502078
7          Metropolitana   81.813450   82.557901
10     Serra da Ibiapaba   60.775595   72.461935
9                Salgado   58.606684   68.583042
1         Alto Jaguaribe   48.943697   65.405453
3               Banabuiú    9.819895   41.652078
5                   Curu   21.088796   37.767146
11    Sertões de Crateús   21.329525   31.552439
8        Médio Jaguaribe   22.348554   31.430828

In [14]:
df_regioes_volume = df_regioes_pivot[[('volume(hm³)', '26/05/2022'), ('volume(hm³)', '26/05/2023')]]

In [15]:
dados_2023 = df_regioes_volume[('volume(hm³)', '26/05/2023')]
dados_2022 = df_regioes_volume[('volume(hm³)', '26/05/2022')]

In [16]:
df_regioes_volume[('volume(hm³)', 'pct_change_2022_2023')] = round((dados_2023/dados_2022-1)*100,2)

C:\Users\55859\AppData\Local\Temp/ipykernel_11736/1701327465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regioes_volume[('volume(hm³)', 'pct_change_2022_2023')] = round((dados_2023/dados_2022-1)*100,2)

In [17]:
df_regioes_volume

                    volume(hm³)
data                 26/05/2022   26/05/2023 pct_change_2022_2023
regiao
Acaraú              1469.634229  1596.796148                 8.65
Alto Jaguaribe      1353.620472  1808.898094                33.63
Baixo Jaguaribe       22.720279    25.050893                10.26
Banabuiú             262.642798  1114.025996               324.16
Coreaú               284.747315   293.214496                 2.97
Curu                 222.732918   398.884159                79.09
Litoral              159.134926   202.791674                27.43
Metropolitana       1187.040592  1197.841921                 0.91
Médio Jaguaribe     1647.980818  2317.707082                40.64
Salgado              262.359754   307.020104                17.02
Serra da Ibiapaba     85.283408   101.682275                19.23
Sertões de Crateús    87.872622   129.988623                47.93

In [18]:
# Todas as regiões estão com maior volume em relação ao mesmo período do ano passado

df_regioes_volume[df_regioes_volume.apply(lambda x : x[('volume(hm³)', '26/05/2023')] < x[('volume(hm³)', '26/05/2022')], axis=1)]

Empty DataFrame
Columns: [(volume(hm³), 26/05/2022), (volume(hm³), 26/05/2023), (volume(hm³), pct_change_2022_2023)]
Index: []

In [19]:
df_regioes_volume = df_regioes_volume.reset_index()
df_regioes_volume.columns = df_regioes_volume.columns.droplevel(0)

In [20]:
df_regioes_volume = df_regioes_volume.rename(columns={'': 'regiões'})

In [21]:
df_regioes_volume

data             regiões   26/05/2022   26/05/2023  pct_change_2022_2023
0                 Acaraú  1469.634229  1596.796148                  8.65
1         Alto Jaguaribe  1353.620472  1808.898094                 33.63
2        Baixo Jaguaribe    22.720279    25.050893                 10.26
3               Banabuiú   262.642798  1114.025996                324.16
4                 Coreaú   284.747315   293.214496                  2.97
5                   Curu   222.732918   398.884159                 79.09
6                Litoral   159.134926   202.791674                 27.43
7          Metropolitana  1187.040592  1197.841921                  0.91
8        Médio Jaguaribe  1647.980818  2317.707082                 40.64
9                Salgado   262.359754   307.020104                 17.02
10     Serra da Ibiapaba    85.283408   101.682275                 19.23
11    Sertões de Crateús    87.872622   129.988623                 47.93

In [22]:
# Coletar informações sobre todas as bacias hidrográficas a partir da API da Funceme em determinado dia
url = 'https://apil5.funceme.br/rpc/v1/regiao-nivel?regiao=&data=2023-05-26'
df = pd.read_json(url)

In [23]:
dados_acudes = df['data']['list']

In [24]:
df_acudes_dia = pd.DataFrame.from_records(dados_acudes)
df_acudes_dia

,nome,id,num_reservatorios,capacidade,nivel,volume,volume_dia1,vol_perc,total_vert
0,Metropolitana,9,23,1450.911304,3273.20,1198.070764,1201.897487,82.573674,11
1,Acaraú,1,15,1707.765412,2582.55,1597.144965,1596.700164,93.522503,5
2,Litoral,7,10,206.050874,919.38,202.851874,203.440474,98.447471,7
3,Alto Jaguaribe,2,24,2765.668616,7529.47,1809.162403,1741.002674,65.415010,6
4,Curu,6,14,1056.167055,2486.04,399.184484,381.079498,37.795582,2
5,Banabuiú,4,19,2674.598871,3827.33,1113.341498,1069.740724,41.626485,6
6,Sertões de Crateús,10,10,411.976468,2270.70,130.134257,134.543585,31.587789,0
7,Salgado,11,15,447.661833,4977.29,307.321421,301.668528,68.650351,3
8,Baixo Jaguaribe,3,1,25.050893,109.28,25.050893,25.050893,100.000000,1
9,Coreaú,5,10,299.427338,833.89,293.277196,284.990023,97.946032,5
10,Médio Jaguaribe,8,15,7373.993000,1325.27,2317.811761,2278.480687,31.432248,2
11,Serra da Ibiapaba,12,1,140.325089,712.39,101.682275,98.710434,72.461935,0

In [25]:
df_acudes_dia = df_acudes_dia[['nome', 'num_reservatorios', 'vol_perc']]

In [28]:
df_regioes_perc_volume = df_regioes_volume.merge(df_acudes_dia, left_on='regiões', right_on='nome')

In [33]:
# A Bacia do Banabuiú destacou-se com aumento de 324% do volume em um ano.
# Porém, para variação tão alta, é importante ver qual o percentual que ela tinha naquela época 
# e comparar com o volume da Badia Metropolitanas, por exemplo, que foi a que variou menos 

df_regioes_volume.sort_values('pct_change_2022_2023', ascending=False)

data             regiões   26/05/2022   26/05/2023  pct_change_2022_2023
3               Banabuiú   262.642798  1114.025996                324.16
5                   Curu   222.732918   398.884159                 79.09
11    Sertões de Crateús    87.872622   129.988623                 47.93
8        Médio Jaguaribe  1647.980818  2317.707082                 40.64
1         Alto Jaguaribe  1353.620472  1808.898094                 33.63
6                Litoral   159.134926   202.791674                 27.43
10     Serra da Ibiapaba    85.283408   101.682275                 19.23
9                Salgado   262.359754   307.020104                 17.02
2        Baixo Jaguaribe    22.720279    25.050893                 10.26
0                 Acaraú  1469.634229  1596.796148                  8.65
4                 Coreaú   284.747315   293.214496                  2.97
7          Metropolitana  1187.040592  1197.841921                  0.91

In [34]:
df_regioes_perc_volume['vol_perc'] = df_regioes_perc_volume['vol_perc'].apply(lambda x: round(x,2))

In [36]:
df_regioes_perc_volume.to_csv('df_regioes_perc_volume.csv', index=False)

### Análise das bacias

In [37]:
df_regioes['data'] = pd.to_datetime(df_regioes['data'], format="%d/%m/%Y")

In [38]:
# Banabuiú

df_banabuiu = df_regioes[df_regioes['regiao'] == 'Banabuiú']
df_vol_banabuiu = df_banabuiu[['data', 'volume(%)']]

In [39]:
df_vol_banabuiu_ate_marco_2023 = df_vol_banabuiu[df_vol_banabuiu['data'] < '2023-03-01']

In [40]:
df_vol_banabuiu_ate_marco_2023.describe()

        volume(%)
count  279.000000
mean    10.782418
std      0.846378
min      9.529055
25%     10.027920
50%     10.565834
75%     11.675922
max     12.078292

In [41]:
# Ao longo do período de maio de 2022 a março de 2023, o volume médio da Bacia do Banabuiú foi de 10,8%
round(df_vol_banabuiu_ate_marco_2023['volume(%)'].mean(),1)

10.8

In [42]:
df_vol_banabuiu_apos_marco_2023 = df_vol_banabuiu[df_vol_banabuiu['data'] >= '2023-03-01']

In [43]:
df_vol_banabuiu_apos_marco_2023.describe()

       volume(%)
count  87.000000
mean   28.833968
std    13.255712
min     9.506642
25%    12.968198
50%    37.114633
75%    40.750016
max    41.652078

In [45]:
# Após março de 2022, o dia em que a Bacia do Banabuiú esteve mais cheia foi justamente o dia mais recente avaliado, 26/05/23
round(df_vol_banabuiu_apos_marco_2023['volume(%)'].max(), 1)

41.7

In [46]:
# metropolitana
df_metropolitana = df_regioes[df_regioes['regiao'] == 'Metropolitana']
df_vol_metropolitana = df_metropolitana[['data', 'volume(%)']]

In [47]:
df_vol_metropolitana

          data  volume(%)
0   2022-05-26  81.813450
1   2022-05-27  81.864311
2   2022-05-28  81.861315
3   2022-05-29  81.989260
4   2022-05-30  82.109824
..         ...        ...
361 2023-05-22  82.577745
362 2023-05-23  82.540554
363 2023-05-24  82.599875
364 2023-05-25  82.573674
365 2023-05-26  82.557901

[366 rows x 2 columns]

In [48]:
# alto jaguaribe
df_alto_jaguaribe = df_regioes[df_regioes['regiao'] == 'Alto Jaguaribe']
df_vol_alto_jaguaribe = df_alto_jaguaribe[['data', 'volume(%)']]

In [49]:
df_vol_alto_jaguaribe

          data  volume(%)
0   2022-05-26  48.943697
1   2022-05-27  48.938304
2   2022-05-28  48.977413
3   2022-05-29  48.972698
4   2022-05-30  48.964641
..         ...        ...
361 2023-05-22  65.438839
362 2023-05-23  65.434957
363 2023-05-24  65.418850
364 2023-05-25  65.415010
365 2023-05-26  65.405453

[366 rows x 2 columns]

In [50]:
round(df_vol_alto_jaguaribe['volume(%)'].max(), 1)

65.4